input{
    float: left;
    width:50%;
}
.content{
    padding-top:20px ;
    padding-left:20px;
}

button{
    margin-left:18%;
}
ul{
    margin:40px auto;
    background-color:white;
}
div.title{
    padding:10px auto;
    background-color:red;
    z-index: 99;
}
li{
    float: left;
    list-style: none;
}
li:first-child{
    width:40%;
}
li:nth-child(n+2){
    width:15%;
}
.content{
    margin:25px auto;
}